* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background-color: #3e3932;
}

h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav__menu.menu {
  display: flex;
  justify-content: center;
}

.nav__label, .nav__input {
  display: none;
}

.nav__item {
  color: white;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after {
  content: "";
  display: block;
  background-color: black;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.2s;
}

.nav__item:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%,0 100%) ;
}

.nav__input:checked + .nav__menu {
  clip-path: circle(100% at center);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
  padding-right: 15px;
}

a:hover {
  color: crimson;
}

div .listas {
  display: flex;
  justify-content: space-between;
}
div .listas .logo {
  position: relative;
  width: fit-content;
}
div .listas .menu {
  display: flex;
  justify-content: center;
}
div .listas .menu2 {
  display: flex;
  flex-wrap: wrap;
}
div .listas .menu2 li {
  padding-left: 15px;
  display: flex;
  justify-content: center;
}

div .perfil {
  display: block;
  /*ul li{
      padding-bottom: $padding_l_r_t_b;
      padding-right: 15px;
  }*/
}

.busqueda {
  display: flex;
  justify-content: center;
  height: 25px;
}
.busqueda input {
  color: black;
}
.busqueda input::placeholder {
  color: black;
}

main {
  display: flex;
}

section.catalogo {
  border: 1px solid black;
  background-color: grey;
  height: 80vh;
}
section.catalogo h2 {
  text-align: center;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}
section.catalogo ul .section {
  padding-left: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.catalogo li {
  color: white;
}

section.catalogo2 {
  margin-left: 40px;
  padding-left: 40px;
}
section.catalogo2 h2.destaque {
  text-align: center;
  padding: 20px;
}
section.catalogo2 .destacado {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 35px;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}
footer .redes {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer svg {
  cursor: pointer;
  color: white;
}
footer a {
  text-decoration: none;
}
footer h3 {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer li {
  padding-bottom: 15px;
  color: white;
}

.preg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}
.preg .preg3 {
  text-align: center;
}
.preg .preguntas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preg .respuesta {
  border-top: 1px solid black;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: large;
}
.preg .respuesta2 {
  border-top: 1px solid black;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
}

.ayuda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ayuda .respuesta {
  border-top: 1px solid black;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: large;
}
.ayuda .respuesta3 {
  border-top: 1px solid black;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 400px;
  height: 300px;
  padding: auto;
  margin: auto;
  background-color: darkgray;
  margin-top: 60px;
  margin-bottom: 60px;
}

.iniciar {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  justify-content: center;
}
.iniciar .usuario {
  padding: 15px 0px;
}
.iniciar input[type=gmail],
.iniciar input[type=password] {
  width: 350px;
  height: 30px;
  border-radius: 5px;
}

.btn2, .btnc, .btnc .btn, .btn2 .btn {
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.btn2:hover, .btnc:hover, .btnc .btn:hover, .btn2 .btn:hover {
  background-color: crimson;
}
.btn2 .gmail label, .btnc .gmail label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2 .container-crear, .btnc .container-crear {
  padding: 15px 0px;
  text-align: left;
}
.btn2 .cuenta, .btnc .cuenta {
  width: 350px;
  height: 30px;
  border-radius: 5px;
}
.btn2 .gmail, .btnc .gmail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn2 span, .btnc span, .btnc .btn span, .btn2 .btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}
.btn2 .sexualidad, .btnc .sexualidad {
  display: flex;
  justify-content: space-evenly;
}
.btn2 .genero, .btnc .genero {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.btn2 .radio, .btnc .radio {
  position: relative;
  right: 2rem;
}
.btn2 .notificacion, .btnc .notificacion {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.btn2 .recibir, .btnc .recibir {
  position: relative;
  left: 48px;
  bottom: 15px;
}
.btn2 .aceptar, .btnc .aceptar {
  position: relative;
  bottom: 15px;
}
.btn2 .novedades, .btnc .novedades {
  padding-top: 15px;
}
.btn2 .btn, .btnc .btn {
  border: none;
  width: 100%;
  color: white;
  background: black;
  font-size: 20px;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}
.btn2:hover, .btnc:hover, .btnc .btn:hover, .btn2 .btn:hover {
  background: crimson;
}

.main2 {
  display: flex;
  flex-direction: column;
}

.brownie {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  padding-bottom: 25px;
}

.border {
  border: 1px solid black;
  box-shadow: 1px 1px 5px;
}

.brow {
  padding-bottom: 15px;
}

.span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.efectivo, .transferir, .subti {
  padding-bottom: 15px;
}

.subti {
  font-size: 16px;
  font-weight: 500;
}

label {
  display: flex;
  justify-content: center;
}

.comprar {
  background-color: white;
  padding: 10px;
  border-radius: 15%;
}

.comprar:hover {
  background-color: crimson;
  cursor: pointer;
  transition: all;
}

.quienes-somos {
  padding: 50px 80px;
  gap: 2rem;
}

.image {
  height: 500px;
  position: relative;
}

.imgnosotros {
  width: 750px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (min-width: 320px) and (max-width: 480px) {
  header {
    background-color: #3e3932;
  }
  .menu2 {
    display: flex;
    flex-direction: column;
  }
  li {
    padding-bottom: 20px;
  }
  .brownie {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .catalogo2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.cucu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(233, 233, 47, 0.637);
}

.cupos {
  border: 1px solid black;
  display: flex;
  margin: 25px;
  cursor: pointer;
  width: 500px;
  box-shadow: 3px 3px 10px 0px black;
}

.cupon {
  text-align: center;
  font-family: "Xanh Mono", monoespaciado;
  padding-bottom: 15px;
}

.cup {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
}

.cupo {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.cupones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto2 {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  justify-content: center;
  align-items: center;
}

.contacto1 {
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.cmc {
  padding: auto;
  margin: auto;
}

.btnc {
  border: none;
  width: 100%;
  color: white;
  background: burlywood;
  font-size: 20px;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

input[type=gmail],
input[type=password],
input[type=name],
input[type=text] {
  width: 350px;
  height: 30px;
  border-radius: 5px;
}

.contact {
  padding-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 480px) {
  header {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  .cupos {
    width: 110px;
  }
  .image {
    width: 100%;
  }
  .p1 {
    font-size: 0.8rem;
    width: 100%;
  }
  .quienes-somos {
    padding: 25px;
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  .brownie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .imgnosotros {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .brownie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .cupos {
    width: 300px;
  }
  .imgnosotros {
    width: 100%;
  }
  .main__catalogo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .catalogo {
    height: 15vh;
  }
  ul, .section {
    display: flex;
    justify-content: space-evenly;
  }
  .catalogo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-40px);
  }
  .main__catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brow {
    width: 140px;
    display: flex;
    flex-wrap: wrap;
  }
  .brows {
    width: 140px;
  }
}
@media (max-width: 700px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: rgba(153, 145, 145, 0.315);
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
}

/*# sourceMappingURL=style.css.map */
